<div class="container">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Equipe {{ ia.player1.name }}</h3>
                <h4 class="panel-title">Joueur {{ ia.player1.codeplayer }}</h4>
                <h5 ng-show="ia.infos.playerturn == 1" style="color: red;">Est en train de jouer</h5>
            </div>
            <div class="panel-body">
                <p>Pions blancs</p>
                <label>Nombre de tenailles: </label><p>{{ ia.player1.nbtenaille }}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="text-align: center;">

        <div class="panel panel-default">
            <div class="panel-body">
                <canvas width="275" height="280" style="width: 100%;" id="canvas">
                </canvas>
            </div>
            <div class="panel-footer">
                <label>Temps écoulé tour:</label>  <p>{{ ia.time.turn }}</p>
                <label>Temps écoulé partie: </label><p>{{ ia.minutesGame }} minute(s), {{ ia.secondsGame }} second(s)</p>
                <label ng-show="ia.infos.derniercoupx != null && ia.infos.derniercoupy != null">Dernier coup joué:</label>
                <p ng-show="ia.infos.derniercoupx != null && ia.infos.derniercoupy != null"> X : {{ ia.infos.derniercoupx }} - Y : {{ ia.infos.derniercoupy }}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Equipe {{ ia.player2.name }}</h3>
                <h4 class="panel-title">Joueur {{ ia.player2.codeplayer }}</h4>
                <h5 ng-show="ia.infos.playerturn == 2" style="color: red;">Est en train de jouer</h5>
            </div>
            <div class="panel-body">
                <p>Pions noirs</p>
                <label>Nombre de tenailles: </label><p>{{ ia.player2.nbtenaille }}</p>
            </div>
        </div>
        <div class="row" style="margin-top: 125%;">
            <a ng-href="/" class="btn btn-default pull-right" style="margin-top: 0.5em;">Retour</a>
        </div>
    </div>
</div>




